/*Global Styles*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
}

section {
    height: auto;
    padding: 5rem 0;
}


/*Header*/

header {
    width: 100%;
    height: 5rem;
}

.first-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../cover.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.container-1 {
    height: 5rem;
}

.container,
.container-1 {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
}

nav {
    background-color: gray transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px solid rgba(255, 255, 255, alph.2);
}

.nav-list {
    float: right;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.nav-list li {
    display: inline-block;
}

.nav-list li a {
    color: yellow;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

.nav-list li a:hover {
    border-bottom: yellow solid 1px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo {
    float: left;
    font-size: 1.5rem;
    font-style: normal;
    padding-left: 0;
    margin-top: 20px;
}

.main-message {
    color: yellow;
    width: 40%;
    height: auto;
    position: absolute;
    justify-content: center;
    text-align: left;
    margin: 5% 0;
}

.main-message p {
    margin: 1.2rem 0;
    color: white;
    font-size: 1.5rem;
}

.main-message h1 {
    text-transform: uppercase;
    margin: 1.2rem 0;
    font-size: 5rem;
}

.cta a {
    text-decoration: none;
    color: yellow;
}

.btn {
    text-transform: capitalize;
    margin: 1.2rem 0;
    margin-top: 2rem;
    background-color: black;
    border: solid 1px;
    border-color: yellow;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.second-section {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
}

.about-pic {
    width: 40%;
    padding-left: 5%;
}

.about-pic img {
    border-radius: 10px;
}

.about-text {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.about-text h1 {
    font-size: 2.5rem;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.about-text h3 {
    font-size: 1.5rem;
    color: rgb(59, 59, 59);
    margin-bottom: 7%;
}

.about-text p {
    margin-bottom: 5%;
    color: grey;
}

.offers-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    margin: 10%;
}

.offers div {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin: 0 auto;
    margin: 5% 10%;
}

.offers p {
    align-self: start;
    text-align: center;
    padding: 2% 20%;
    font-size: 14px;
    color: rgb(71, 71, 71);
    font-weight: 500;
}

.offers {
    text-align: center;
    font-size: 2rem;
}

.three_services {
    margin-top: 3%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.arch,
.ID,
.CD {
    justify-self: stretch;
    box-sizing: border-box;
    width: 30%;
}

#arc,
#ID,
#CD {
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 0.2rem;
    border-color: grey;
    border-radius: 10px;
    padding: 2% 1.5%;
}

.icon1 {
    background: url(.../img/archIcon.png);
    height: 25%;
    width: 30%;
}

.icon2 {
    background: url(.../img/IDIcon.png);
    height: 25%;
    width: 25%;
}

.icon3 {
    background: url(.../img/CDIcon.png);
    height: 25%;
    width: 30%;
}

.services-padding {
    padding: 5% 3% 3% 4%;
}

.arch h2,
.ID h2,
.CD h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.arch p,
.ID p,
.CD p {
    font-size: 14px;
    color: rgb(71, 71, 71);
    padding-bottom: 0;
    line-height: 1.5;
    font-weight: 500;
}

.cta2 {
    padding-left: 4%;
}